<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <div id="allPage">
            <h1>About Me Page</h1>
            <h1><u>Denio Barbosa Junior Real Estate</u></h1><br>
            <img class="home_page_picture" src="/images/my_photo.jpg">
            <div class="home_page_mission">
                <h2>Mission</h2>
            </div>
        </div>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>